/* latin-ext */
@font-face {
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local("Righteous"), local("Righteous-Regular"),
        url(https://viewtube.eu/proxy/index.php?q=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Frighteous%2Fv7%2F1cXxaUPXBpj2rGoU7C9WhnGFucE.woff2)
            format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local("Righteous"), local("Righteous-Regular"),
        url(https://viewtube.eu/proxy/index.php?q=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Frighteous%2Fv7%2F1cXxaUPXBpj2rGoU7C9WiHGF.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fallback */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://viewtube.eu/proxy/index.php?q=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmaterialicons%2Fv47%2FflUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
        format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    font-display: block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
}
