.header {
    height: $header-height;
    width: 100%;
    position: fixed;
    box-shadow: $low-shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 800;
    background-color: $header-bgcolor;

    .logo-link {
        text-decoration: none;
        margin: auto 10px auto 10px;
        padding: 10px 0;
        box-sizing: border-box;

        .logo {
            font-family: $header-font;
            font-size: 1.5rem;
            color: $subtitle-color;

            .logo-colored{
                color: transparent;
                background-image: $theme-color-gradient;
                background-clip: text;
                -webkit-background-clip: text;
            }
        }

        .logo-small {
            display: none;
            margin: auto;
            height: calc(#{$header-height} - 20px);
        }
    }

    .search-box {
        display: flex;
        flex-direction: row;
        height: 50%;
        margin: auto;
        width: 100%;
        max-width: $search-box-width;
        justify-content: flex-end;
        background-color: rgba(128, 128, 128, 0.37);

        .search-btn{
            text-decoration: none;
            color: $theme-color;
            width: 30px;
            text-align: center;
            display: flex;
            
            i{
                margin: auto;
            }
        }

        #search {
            width: 100%;
            background: none;
            border: none;
            color: $title-color;
            font-size: 1rem;
            margin: 0 0 0 10px;
            min-width: 0px;

            &:target{
                all: unset;
            }
        }
    }

    .nav {
        margin: auto 10px auto 0;
        color: $theme-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $theme-color;
            margin: 0 10px;
            display: flex;

            i{
                margin: auto;
            }
        }

        #settings-btn{
            display: none;
        }
    }
}