.video-player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms $intro-easing;
    user-select: none;
    z-index: 205;

    .bottom-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $video-seekbar-height;
        pointer-events: visibleStroke;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.692));
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 210;

        .video-seekbar {
            width: 100%;
            padding: 0;
            height: $video-seekbar-line-height;
            display: flex;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;

            @mixin seekbar-line {
                width: 100%;
                height: 5px;
                position: absolute;
                left: 0;
                top: 0;
                transform: translateY(50%);
            }

            .seekbar-line-progress {
                @include seekbar-line;
                background-color: $theme-color;
                z-index: 223;
            }

            .seekbar-line {
                @include seekbar-line;
                background-color: rgba(255, 255, 255, 0.2);
                z-index: 220;
            }

            .seekbar-line-loaded {
                @include seekbar-line;
                background-color: rgba(255, 255, 255, 0.4);
                z-index: 221;
            }
        }

        .video-controls {
            display: flex;
            flex-direction: column;
            height: $video-seekbar-height - $video-seekbar-line-height;
        }
    }

    &.hovering {
        opacity: 1;
    }
}

.play-click-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 400;
    display: flex;
    cursor: pointer;

    .video-play-btn-svg {
        margin: auto;
        height: 60%;
        width: 60%;
        filter: drop-shadow(0 0 20px #000);
        transition: transform 300ms $outro-easing, opacity 300ms $outro-easing;
    }

    &.zoom-out {
        .video-play-btn-svg {
            transform: scale(0);
            opacity: 0;
        }
    }
}

.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 300;
}

.video-play-btn {
    height: $video-seekbar-height - $video-seekbar-line-height;
    width: $video-seekbar-height - $video-seekbar-line-height;
    cursor: pointer;
}

svg.video-play-btn-svg {
    height: 100%;
    fill: #fff;

    path {
        display: none;
    }

    .video-play-btn-paused {
        display: initial;
    }
}
