.loader-buffer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000008a;
    display: none;
    z-index: 200;
    user-select: none;

    &.buffering {
        display: flex;
    }
}

.spinner {
    margin: auto auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    $rectangle-width: 6px;
    user-select: none;

    div {
        background-image: $theme-color-gradient;
        background-size: $rectangle-width * 5;
        background-position: 0;
        height: 100%;
        width: $rectangle-width;
        display: inline-block;

        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect2 {
        animation-delay: -1.1s;
        background-position: -$rectangle-width;
    }

    .rect3 {
        animation-delay: -1s;
        background-position: -$rectangle-width * 2;
    }

    .rect4 {
        animation-delay: -0.9s;
        background-position: -$rectangle-width * 3;
    }

    .rect5 {
        animation-delay: -0.8s;
        background-position: -$rectangle-width * 4;
    }

    &.invisible{
        display: none;
    }
}