@import "variables";
@import "spinner";
@import "animations";
@import "header";
@import "channel";
@import "player";

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $bgcolor-main;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
}

@media screen and (max-width: 500px) {
    .video-entry,
    .channel-entry,
    .playlist-entry {
        width: calc(100vw - 20px) !important;
        height: unset !important;
    }

    .channel-entry-thmb {
        height: calc(((100vw - 80px) * 9) / 16) !important;
    }

    .logo-link {
        .logo {
            display: none !important;
        }
        .logo-small {
            display: block !important;
        }
    }
}

.video-list-container,
.results-panel,
.channel-videos-container {
    width: 100%;
    max-width: $main-width;
    margin: 0 auto;
    z-index: 10;
    margin-top: #{$header-height + 60px};
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .video-entry {
        width: 220px;
        height: 220px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: start;
        overflow: hidden;

        .video-entry-thmb {
            width: 100%;
            position: relative;

            .video-entry-thmb-image {
                width: 100%;
            }

            .video-entry-length {
                text-decoration: none;
                color: $video-thmb-overlay-textcolor;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 2px 4px;
                margin: 8px 4px;
                background-color: $video-thmb-overlay-bgcolor;
                box-sizing: border-box;
                border-radius: 2px;
                font-family: $default-font;
            }
        }

        .video-entry-info {
            padding: 10px 0;
            font-family: $default-font;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .video-entry-title {
                text-decoration: none;
                margin: 0;
                font-size: 0.9rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $title-color;
            }

            .video-entry-channel {
                text-decoration: none;
                margin: 8px 0 0 0;
                font-size: 0.8rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $subtitle-color;
            }

            .video-entry-stats {
                color: $subtitle-color-light;
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-direction: row;
                font-size: 0.8rem;
                margin: 5px 0 0 0;
            }
        }
    }

    .playlist-entry {
        width: 220px;
        height: 220px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: start;
        overflow: hidden;

        .playlist-entry-thmb {
            width: 100%;
            position: relative;

            .playlist-entry-thmb-image {
                width: 100%;
            }

            .playlist-entry-count {
                text-decoration: none;
                color: $video-thmb-overlay-textcolor;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 2px 4px;
                margin: 8px 4px;
                background-color: $video-thmb-overlay-bgcolor;
                box-sizing: border-box;
                border-radius: 2px;
                font-family: $default-font;
            }
        }

        .playlist-entry-info {
            padding: 10px 0;
            font-family: $default-font;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .playlist-entry-title {
                text-decoration: none;
                margin: 0;
                font-size: 0.9rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $title-color;
            }

            .playlist-entry-channel {
                text-decoration: none;
                margin: 8px 0 0 0;
                font-size: 0.8rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $subtitle-color;
            }
        }
    }

    .channel-entry {
        width: 220px;
        height: 220px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: start;
        overflow: hidden;

        .channel-entry-thmb {
            height: calc((220px * 9) / 16);
            position: relative;
            margin: 0 auto;

            .channel-entry-thmb-image {
                height: 100%;
            }
        }

        .channel-entry-info {
            padding: 10px 0;
            font-family: $default-font;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .channel-entry-title {
                text-decoration: none;
                margin: 0;
                font-size: 0.9rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $title-color;
            }

            .channel-entry-stats {
                color: $subtitle-color-light;
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-direction: column;
                font-size: 0.8rem;
                margin: 5px 0 0 0;

                p {
                    margin: 0 0 5px 0;
                }
            }
        }
    }
}

.video-section-title {
    position: sticky;
    top: $header-height;
    background-color: $bgcolor-main;
    padding: 0 0 0 10px;
    font-family: $default-font;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    max-width: $main-width;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 0.8rem;
    margin: 0 auto;
    z-index: 20;

    .video-section-separator {
        background-color: $theme-color;
        height: 1px;
        width: 100%;
        margin: auto 20px auto 20px;
    }

    h2 {
        margin: auto 0;
        color: $title-color;
    }
}

.view-panel {
    width: 100%;
    margin-top: $header-height;

    .player-viewport {
        width: 100%;
        height: $player-height;
        max-height: calc(100vh - 169px);
        background-color: #000;
        display: flex;
        position: relative;

        #video {
            height: 100%;
            width: 100%;
        }

        #audio {
            position: absolute;
            visibility: hidden;
        }

        .video-buffer {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #0000008a;
            display: none;
            z-index: 400;

            &.buffering {
                display: flex;
            }
        }
    }

    .video-infobox {
        width: 100%;
        max-width: $main-width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        opacity: 1;
        transition: opacity 300ms $intro-easing;

        .video-infobox-title {
            color: $title-color;
            font-family: $default-font;
            font-size: 1.4rem;
            margin: 20px 0 10px 0;
        }

        .video-infobox-stats {
            display: flex;
            flex-direction: row;
            margin: 0 0 20px 0;

            .infobox-views {
                color: $subtitle-color;
                font-family: $default-font;
                margin: 0 30px 0 0;
                font-size: 1.1rem;
            }

            .infobox-likes,
            .infobox-dislikes {
                color: $subtitle-color;
                font-family: $default-font;
                display: flex;
                flex-direction: row;
                margin: 0 30px 0 0;

                p {
                    text-align: center;
                }

                i {
                    font-size: 1.2rem;
                    margin: 0 5px 0 0;
                }
            }
        }

        .video-infobox-channel {
            display: flex;
            flex-direction: row;

            .infobox-channel-image {
                width: 50px;
                height: 50px;
                margin: 0 10px 0 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .infobox-channel-info {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .infobox-channel-name {
                    text-decoration: none;
                    color: $title-color;
                    font-family: $default-font;
                }

                .infobox-channel-subcount {
                    color: $subtitle-color;
                    font-family: $default-font;
                }
            }
        }

        .video-infobox-description {
            margin: 20px 0 0 0;
            color: $title-color;
            font-family: $default-font;
            line-height: 1.2rem;

            a {
                text-decoration: underline;
                color: $title-color;
            }

            .favicon-link {
                height: 13px;
                margin: 0 4px;
            }
        }

        &.loading {
            opacity: 0;
        }
    }
}
