@import url("https://proxy.mcdn.ch/?q=https://fonts.googleapis.com/css?family=Righteous");
@import url("https://proxy.mcdn.ch/?q=https://fonts.googleapis.com/icon?family=Material+Icons");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html.light-theme {
  display: block;
}

html.light-theme .loader-buffer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000008a;
  display: none;
  z-index: 200;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html.light-theme .loader-buffer.buffering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.light-theme .spinner {
  margin: auto auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html.light-theme .spinner div {
  background-image: -webkit-gradient(linear, right top, left top, from(#ffad42), to(#bb3500));
  background-image: linear-gradient(to left, #ffad42, #bb3500);
  background-size: 30px;
  background-position: 0;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

html.light-theme .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  background-position: -6px;
}

html.light-theme .spinner .rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  background-position: -12px;
}

html.light-theme .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  background-position: -18px;
}

html.light-theme .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  background-position: -24px;
}

html.light-theme .spinner.invisible {
  display: none;
}

@-webkit-keyframes fade-up-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-up-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

html.light-theme .header {
  height: 60px;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 800;
  background-color: #fff;
}

html.light-theme .header .logo-link {
  text-decoration: none;
  margin: auto 10px auto 10px;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html.light-theme .header .logo-link .logo {
  font-family: "Righteous", "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #333333;
}

html.light-theme .header .logo-link .logo .logo-colored {
  color: transparent;
  background-image: -webkit-gradient(linear, right top, left top, from(#ffad42), to(#bb3500));
  background-image: linear-gradient(to left, #ffad42, #bb3500);
  background-clip: text;
  -webkit-background-clip: text;
}

html.light-theme .header .logo-link .logo-small {
  display: none;
  margin: auto;
  height: calc(60px - 20px);
}

html.light-theme .header .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
  margin: auto;
  width: 100%;
  max-width: 800px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(128, 128, 128, 0.37);
}

html.light-theme .header .search-box .search-btn {
  text-decoration: none;
  color: #f57c00;
  width: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.light-theme .header .search-box .search-btn i {
  margin: auto;
}

html.light-theme .header .search-box #search {
  width: 100%;
  background: none;
  border: none;
  color: #080808;
  font-size: 1rem;
  margin: 0 0 0 10px;
  min-width: 0px;
}

html.light-theme .header .search-box #search:target {
  all: unset;
}

html.light-theme .header .nav {
  margin: auto 10px auto 0;
  color: #f57c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html.light-theme .header .nav a {
  text-decoration: none;
  color: #f57c00;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.light-theme .header .nav a i {
  margin: auto;
}

html.light-theme .header .nav #settings-btn {
  display: none;
}

html.light-theme .channel-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
}

html.light-theme .channel-panel.loading {
  opacity: 0;
}

html.light-theme .channel-panel .channel-banner {
  width: 100%;
  margin-top: 60px;
}

html.light-theme .channel-panel .channel-banner #channel-banner-image {
  width: 100%;
}

html.light-theme .channel-panel .channel-title {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html.light-theme .channel-panel .channel-title .channel-thmb {
  width: 90px;
  height: 90px;
}

html.light-theme .channel-panel .channel-title .channel-thmb #channel-thmb-image {
  width: 100%;
}

html.light-theme .channel-panel .channel-title .channel-info {
  color: #080808;
  font-family: Roboto, Arial, sans-serif;
  padding: 0 10px 10px 10px;
}

html.light-theme .channel-panel .channel-title .channel-info .channel-info-name {
  font-size: 1.2rem;
}

html.light-theme .channel-panel .channel-title .channel-info .channel-info-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.light-theme .channel-panel .channel-description {
  color: #333333;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 150px;
  overflow: hidden;
}

html.light-theme .channel-panel .channel-description pre {
  font-family: unset;
  color: unset;
  width: unset;
  padding: unset;
  margin: unset;
  white-space: pre-wrap;
}

html.light-theme .channel-panel .channel-videos-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

html.light-theme .video-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 200ms cubic-bezier(0.31, 0.65, 0.26, 0.97);
  transition: opacity 200ms cubic-bezier(0.31, 0.65, 0.26, 0.97);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 205;
}

html.light-theme .video-player-overlay .bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  pointer-events: visibleStroke;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.692)));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.692));
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 210;
}

html.light-theme .video-player-overlay .bottom-overlay .video-seekbar {
  width: 100%;
  padding: 0;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

html.light-theme .video-player-overlay .bottom-overlay .video-seekbar .seekbar-line-progress {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #f57c00;
  z-index: 223;
}

html.light-theme .video-player-overlay .bottom-overlay .video-seekbar .seekbar-line {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 220;
}

html.light-theme .video-player-overlay .bottom-overlay .video-seekbar .seekbar-line-loaded {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 221;
}

html.light-theme .video-player-overlay .bottom-overlay .video-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40px;
}

html.light-theme .video-player-overlay.hovering {
  opacity: 1;
}

html.light-theme .play-click-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

html.light-theme .play-click-area .video-play-btn-svg {
  margin: auto;
  height: 60%;
  width: 60%;
  -webkit-filter: drop-shadow(0 0 20px #000);
          filter: drop-shadow(0 0 20px #000);
  -webkit-transition: opacity 300ms cubic-bezier(0.71, 0.21, 1, 0.46), -webkit-transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46);
  transition: opacity 300ms cubic-bezier(0.71, 0.21, 1, 0.46), -webkit-transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46);
  transition: transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46), opacity 300ms cubic-bezier(0.71, 0.21, 1, 0.46);
  transition: transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46), opacity 300ms cubic-bezier(0.71, 0.21, 1, 0.46), -webkit-transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46);
}

html.light-theme .play-click-area.zoom-out .video-play-btn-svg {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

html.light-theme .video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 300;
}

html.light-theme .video-play-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

html.light-theme svg.video-play-btn-svg {
  height: 100%;
  fill: #fff;
}

html.light-theme svg.video-play-btn-svg path {
  display: none;
}

html.light-theme svg.video-play-btn-svg .video-play-btn-paused {
  display: initial;
}

html.light-theme body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
}

html.light-theme p,
html.light-theme h1,
html.light-theme h2,
html.light-theme h3,
html.light-theme h4,
html.light-theme h5,
html.light-theme h6,
html.light-theme a {
  margin: 0;
}

@media screen and (max-width: 500px) {
  html.light-theme .video-entry,
  html.light-theme .channel-entry,
  html.light-theme .playlist-entry {
    width: calc(100vw - 20px) !important;
    height: unset !important;
  }
  html.light-theme .channel-entry-thmb {
    height: calc(((100vw - 80px) * 9) / 16) !important;
  }
  html.light-theme .logo-link .logo {
    display: none !important;
  }
  html.light-theme .logo-link .logo-small {
    display: block !important;
  }
}

html.light-theme .video-list-container,
html.light-theme .results-panel,
html.light-theme .channel-videos-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 10;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html.light-theme .video-list-container .video-entry,
html.light-theme .results-panel .video-entry,
html.light-theme .channel-videos-container .video-entry {
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
}

html.light-theme .video-list-container .video-entry .video-entry-thmb,
html.light-theme .results-panel .video-entry .video-entry-thmb,
html.light-theme .channel-videos-container .video-entry .video-entry-thmb {
  width: 100%;
  position: relative;
}

html.light-theme .video-list-container .video-entry .video-entry-thmb .video-entry-thmb-image,
html.light-theme .results-panel .video-entry .video-entry-thmb .video-entry-thmb-image,
html.light-theme .channel-videos-container .video-entry .video-entry-thmb .video-entry-thmb-image {
  width: 100%;
}

html.light-theme .video-list-container .video-entry .video-entry-thmb .video-entry-length,
html.light-theme .results-panel .video-entry .video-entry-thmb .video-entry-length,
html.light-theme .channel-videos-container .video-entry .video-entry-thmb .video-entry-length {
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 4px;
  margin: 8px 4px;
  background-color: rgba(0, 0, 0, 0.714);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: Roboto, Arial, sans-serif;
}

html.light-theme .video-list-container .video-entry .video-entry-info,
html.light-theme .results-panel .video-entry .video-entry-info,
html.light-theme .channel-videos-container .video-entry .video-entry-info {
  padding: 10px 0;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.light-theme .video-list-container .video-entry .video-entry-info .video-entry-title,
html.light-theme .results-panel .video-entry .video-entry-info .video-entry-title,
html.light-theme .channel-videos-container .video-entry .video-entry-info .video-entry-title {
  text-decoration: none;
  margin: 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #080808;
}

html.light-theme .video-list-container .video-entry .video-entry-info .video-entry-channel,
html.light-theme .results-panel .video-entry .video-entry-info .video-entry-channel,
html.light-theme .channel-videos-container .video-entry .video-entry-info .video-entry-channel {
  text-decoration: none;
  margin: 8px 0 0 0;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}

html.light-theme .video-list-container .video-entry .video-entry-info .video-entry-stats,
html.light-theme .results-panel .video-entry .video-entry-info .video-entry-stats,
html.light-theme .channel-videos-container .video-entry .video-entry-info .video-entry-stats {
  color: #4e4e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.8rem;
  margin: 5px 0 0 0;
}

html.light-theme .video-list-container .playlist-entry,
html.light-theme .results-panel .playlist-entry,
html.light-theme .channel-videos-container .playlist-entry {
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
}

html.light-theme .video-list-container .playlist-entry .playlist-entry-thmb,
html.light-theme .results-panel .playlist-entry .playlist-entry-thmb,
html.light-theme .channel-videos-container .playlist-entry .playlist-entry-thmb {
  width: 100%;
  position: relative;
}

html.light-theme .video-list-container .playlist-entry .playlist-entry-thmb .playlist-entry-thmb-image,
html.light-theme .results-panel .playlist-entry .playlist-entry-thmb .playlist-entry-thmb-image,
html.light-theme .channel-videos-container .playlist-entry .playlist-entry-thmb .playlist-entry-thmb-image {
  width: 100%;
}

html.light-theme .video-list-container .playlist-entry .playlist-entry-thmb .playlist-entry-count,
html.light-theme .results-panel .playlist-entry .playlist-entry-thmb .playlist-entry-count,
html.light-theme .channel-videos-container .playlist-entry .playlist-entry-thmb .playlist-entry-count {
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 4px;
  margin: 8px 4px;
  background-color: rgba(0, 0, 0, 0.714);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: Roboto, Arial, sans-serif;
}

html.light-theme .video-list-container .playlist-entry .playlist-entry-info,
html.light-theme .results-panel .playlist-entry .playlist-entry-info,
html.light-theme .channel-videos-container .playlist-entry .playlist-entry-info {
  padding: 10px 0;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.light-theme .video-list-container .playlist-entry .playlist-entry-info .playlist-entry-title,
html.light-theme .results-panel .playlist-entry .playlist-entry-info .playlist-entry-title,
html.light-theme .channel-videos-container .playlist-entry .playlist-entry-info .playlist-entry-title {
  text-decoration: none;
  margin: 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #080808;
}

html.light-theme .video-list-container .playlist-entry .playlist-entry-info .playlist-entry-channel,
html.light-theme .results-panel .playlist-entry .playlist-entry-info .playlist-entry-channel,
html.light-theme .channel-videos-container .playlist-entry .playlist-entry-info .playlist-entry-channel {
  text-decoration: none;
  margin: 8px 0 0 0;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}

html.light-theme .video-list-container .channel-entry,
html.light-theme .results-panel .channel-entry,
html.light-theme .channel-videos-container .channel-entry {
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
}

html.light-theme .video-list-container .channel-entry .channel-entry-thmb,
html.light-theme .results-panel .channel-entry .channel-entry-thmb,
html.light-theme .channel-videos-container .channel-entry .channel-entry-thmb {
  height: calc((220px * 9) / 16);
  position: relative;
  margin: 0 auto;
}

html.light-theme .video-list-container .channel-entry .channel-entry-thmb .channel-entry-thmb-image,
html.light-theme .results-panel .channel-entry .channel-entry-thmb .channel-entry-thmb-image,
html.light-theme .channel-videos-container .channel-entry .channel-entry-thmb .channel-entry-thmb-image {
  height: 100%;
}

html.light-theme .video-list-container .channel-entry .channel-entry-info,
html.light-theme .results-panel .channel-entry .channel-entry-info,
html.light-theme .channel-videos-container .channel-entry .channel-entry-info {
  padding: 10px 0;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.light-theme .video-list-container .channel-entry .channel-entry-info .channel-entry-title,
html.light-theme .results-panel .channel-entry .channel-entry-info .channel-entry-title,
html.light-theme .channel-videos-container .channel-entry .channel-entry-info .channel-entry-title {
  text-decoration: none;
  margin: 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #080808;
}

html.light-theme .video-list-container .channel-entry .channel-entry-info .channel-entry-stats,
html.light-theme .results-panel .channel-entry .channel-entry-info .channel-entry-stats,
html.light-theme .channel-videos-container .channel-entry .channel-entry-info .channel-entry-stats {
  color: #4e4e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
  margin: 5px 0 0 0;
}

html.light-theme .video-list-container .channel-entry .channel-entry-info .channel-entry-stats p,
html.light-theme .results-panel .channel-entry .channel-entry-info .channel-entry-stats p,
html.light-theme .channel-videos-container .channel-entry .channel-entry-info .channel-entry-stats p {
  margin: 0 0 5px 0;
}

html.light-theme .video-section-title {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  background-color: #fff;
  padding: 0 0 0 10px;
  font-family: Roboto, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8rem;
  margin: 0 auto;
  z-index: 20;
}

html.light-theme .video-section-title .video-section-separator {
  background-color: #f57c00;
  height: 1px;
  width: 100%;
  margin: auto 20px auto 20px;
}

html.light-theme .video-section-title h2 {
  margin: auto 0;
  color: #080808;
}

html.light-theme .view-panel {
  width: 100%;
  margin-top: 60px;
}

html.light-theme .view-panel .player-viewport {
  width: 100%;
  height: calc((9 / 16) * 100vw);
  max-height: calc(100vh - 169px);
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

html.light-theme .view-panel .player-viewport #video {
  height: 100%;
  width: 100%;
}

html.light-theme .view-panel .player-viewport #audio {
  position: absolute;
  visibility: hidden;
}

html.light-theme .view-panel .player-viewport .video-buffer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000008a;
  display: none;
  z-index: 400;
}

html.light-theme .view-panel .player-viewport .video-buffer.buffering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.light-theme .view-panel .video-infobox {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  -webkit-transition: opacity 300ms cubic-bezier(0.31, 0.65, 0.26, 0.97);
  transition: opacity 300ms cubic-bezier(0.31, 0.65, 0.26, 0.97);
}

html.light-theme .view-panel .video-infobox .video-infobox-title {
  color: #080808;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.4rem;
  margin: 20px 0 10px 0;
}

html.light-theme .view-panel .video-infobox .video-infobox-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 20px 0;
}

html.light-theme .view-panel .video-infobox .video-infobox-stats .infobox-views {
  color: #333333;
  font-family: Roboto, Arial, sans-serif;
  margin: 0 30px 0 0;
  font-size: 1.1rem;
}

html.light-theme .view-panel .video-infobox .video-infobox-stats .infobox-likes,
html.light-theme .view-panel .video-infobox .video-infobox-stats .infobox-dislikes {
  color: #333333;
  font-family: Roboto, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 30px 0 0;
}

html.light-theme .view-panel .video-infobox .video-infobox-stats .infobox-likes p,
html.light-theme .view-panel .video-infobox .video-infobox-stats .infobox-dislikes p {
  text-align: center;
}

html.light-theme .view-panel .video-infobox .video-infobox-stats .infobox-likes i,
html.light-theme .view-panel .video-infobox .video-infobox-stats .infobox-dislikes i {
  font-size: 1.2rem;
  margin: 0 5px 0 0;
}

html.light-theme .view-panel .video-infobox .video-infobox-channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

html.light-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-image {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}

html.light-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-image img {
  width: 100%;
  height: 100%;
}

html.light-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html.light-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-info .infobox-channel-name {
  text-decoration: none;
  color: #080808;
  font-family: Roboto, Arial, sans-serif;
}

html.light-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-info .infobox-channel-subcount {
  color: #333333;
  font-family: Roboto, Arial, sans-serif;
}

html.light-theme .view-panel .video-infobox .video-infobox-description {
  margin: 20px 0 0 0;
  color: #080808;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.2rem;
}

html.light-theme .view-panel .video-infobox .video-infobox-description a {
  text-decoration: underline;
  color: #080808;
}

html.light-theme .view-panel .video-infobox .video-infobox-description .favicon-link {
  height: 13px;
  margin: 0 4px;
}

html.light-theme .view-panel .video-infobox.loading {
  opacity: 0;
}

html.dark-theme {
  display: block;
}

html.dark-theme .loader-buffer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000008a;
  display: none;
  z-index: 200;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html.dark-theme .loader-buffer.buffering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.dark-theme .spinner {
  margin: auto auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html.dark-theme .spinner div {
  background-image: -webkit-gradient(linear, right top, left top, from(#ffad42), to(#bb3500));
  background-image: linear-gradient(to left, #ffad42, #bb3500);
  background-size: 30px;
  background-position: 0;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

html.dark-theme .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  background-position: -6px;
}

html.dark-theme .spinner .rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  background-position: -12px;
}

html.dark-theme .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  background-position: -18px;
}

html.dark-theme .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  background-position: -24px;
}

html.dark-theme .spinner.invisible {
  display: none;
}

@keyframes fade-up-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

html.dark-theme .header {
  height: 60px;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 800;
  background-color: #272727;
}

html.dark-theme .header .logo-link {
  text-decoration: none;
  margin: auto 10px auto 10px;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html.dark-theme .header .logo-link .logo {
  font-family: "Righteous", "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #afafaf;
}

html.dark-theme .header .logo-link .logo .logo-colored {
  color: transparent;
  background-image: -webkit-gradient(linear, right top, left top, from(#ffad42), to(#bb3500));
  background-image: linear-gradient(to left, #ffad42, #bb3500);
  background-clip: text;
  -webkit-background-clip: text;
}

html.dark-theme .header .logo-link .logo-small {
  display: none;
  margin: auto;
  height: calc(60px - 20px);
}

html.dark-theme .header .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
  margin: auto;
  width: 100%;
  max-width: 800px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(128, 128, 128, 0.37);
}

html.dark-theme .header .search-box .search-btn {
  text-decoration: none;
  color: #f57c00;
  width: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.dark-theme .header .search-box .search-btn i {
  margin: auto;
}

html.dark-theme .header .search-box #search {
  width: 100%;
  background: none;
  border: none;
  color: #ebebeb;
  font-size: 1rem;
  margin: 0 0 0 10px;
  min-width: 0px;
}

html.dark-theme .header .search-box #search:target {
  all: unset;
}

html.dark-theme .header .nav {
  margin: auto 10px auto 0;
  color: #f57c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html.dark-theme .header .nav a {
  text-decoration: none;
  color: #f57c00;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.dark-theme .header .nav a i {
  margin: auto;
}

html.dark-theme .header .nav #settings-btn {
  display: none;
}

html.dark-theme .channel-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
}

html.dark-theme .channel-panel.loading {
  opacity: 0;
}

html.dark-theme .channel-panel .channel-banner {
  width: 100%;
  margin-top: 60px;
}

html.dark-theme .channel-panel .channel-banner #channel-banner-image {
  width: 100%;
}

html.dark-theme .channel-panel .channel-title {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html.dark-theme .channel-panel .channel-title .channel-thmb {
  width: 90px;
  height: 90px;
}

html.dark-theme .channel-panel .channel-title .channel-thmb #channel-thmb-image {
  width: 100%;
}

html.dark-theme .channel-panel .channel-title .channel-info {
  color: #ebebeb;
  font-family: Roboto, Arial, sans-serif;
  padding: 0 10px 10px 10px;
}

html.dark-theme .channel-panel .channel-title .channel-info .channel-info-name {
  font-size: 1.2rem;
}

html.dark-theme .channel-panel .channel-title .channel-info .channel-info-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.dark-theme .channel-panel .channel-description {
  color: #afafaf;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 150px;
  overflow: hidden;
}

html.dark-theme .channel-panel .channel-description pre {
  font-family: unset;
  color: unset;
  width: unset;
  padding: unset;
  margin: unset;
  white-space: pre-wrap;
}

html.dark-theme .channel-panel .channel-videos-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

html.dark-theme .video-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 200ms cubic-bezier(0.31, 0.65, 0.26, 0.97);
  transition: opacity 200ms cubic-bezier(0.31, 0.65, 0.26, 0.97);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 205;
}

html.dark-theme .video-player-overlay .bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  pointer-events: visibleStroke;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.692)));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.692));
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 210;
}

html.dark-theme .video-player-overlay .bottom-overlay .video-seekbar {
  width: 100%;
  padding: 0;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

html.dark-theme .video-player-overlay .bottom-overlay .video-seekbar .seekbar-line-progress {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #f57c00;
  z-index: 223;
}

html.dark-theme .video-player-overlay .bottom-overlay .video-seekbar .seekbar-line {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 220;
}

html.dark-theme .video-player-overlay .bottom-overlay .video-seekbar .seekbar-line-loaded {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 221;
}

html.dark-theme .video-player-overlay .bottom-overlay .video-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40px;
}

html.dark-theme .video-player-overlay.hovering {
  opacity: 1;
}

html.dark-theme .play-click-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

html.dark-theme .play-click-area .video-play-btn-svg {
  margin: auto;
  height: 60%;
  width: 60%;
  -webkit-filter: drop-shadow(0 0 20px #000);
          filter: drop-shadow(0 0 20px #000);
  -webkit-transition: opacity 300ms cubic-bezier(0.71, 0.21, 1, 0.46), -webkit-transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46);
  transition: opacity 300ms cubic-bezier(0.71, 0.21, 1, 0.46), -webkit-transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46);
  transition: transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46), opacity 300ms cubic-bezier(0.71, 0.21, 1, 0.46);
  transition: transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46), opacity 300ms cubic-bezier(0.71, 0.21, 1, 0.46), -webkit-transform 300ms cubic-bezier(0.71, 0.21, 1, 0.46);
}

html.dark-theme .play-click-area.zoom-out .video-play-btn-svg {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

html.dark-theme .video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 300;
}

html.dark-theme .video-play-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

html.dark-theme svg.video-play-btn-svg {
  height: 100%;
  fill: #fff;
}

html.dark-theme svg.video-play-btn-svg path {
  display: none;
}

html.dark-theme svg.video-play-btn-svg .video-play-btn-paused {
  display: initial;
}

html.dark-theme body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #121212;
}

html.dark-theme p,
html.dark-theme h1,
html.dark-theme h2,
html.dark-theme h3,
html.dark-theme h4,
html.dark-theme h5,
html.dark-theme h6,
html.dark-theme a {
  margin: 0;
}

@media screen and (max-width: 500px) {
  html.dark-theme .video-entry,
  html.dark-theme .channel-entry,
  html.dark-theme .playlist-entry {
    width: calc(100vw - 20px) !important;
    height: unset !important;
  }
  html.dark-theme .channel-entry-thmb {
    height: calc(((100vw - 80px) * 9) / 16) !important;
  }
  html.dark-theme .logo-link .logo {
    display: none !important;
  }
  html.dark-theme .logo-link .logo-small {
    display: block !important;
  }
}

html.dark-theme .video-list-container,
html.dark-theme .results-panel,
html.dark-theme .channel-videos-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 10;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html.dark-theme .video-list-container .video-entry,
html.dark-theme .results-panel .video-entry,
html.dark-theme .channel-videos-container .video-entry {
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
}

html.dark-theme .video-list-container .video-entry .video-entry-thmb,
html.dark-theme .results-panel .video-entry .video-entry-thmb,
html.dark-theme .channel-videos-container .video-entry .video-entry-thmb {
  width: 100%;
  position: relative;
}

html.dark-theme .video-list-container .video-entry .video-entry-thmb .video-entry-thmb-image,
html.dark-theme .results-panel .video-entry .video-entry-thmb .video-entry-thmb-image,
html.dark-theme .channel-videos-container .video-entry .video-entry-thmb .video-entry-thmb-image {
  width: 100%;
}

html.dark-theme .video-list-container .video-entry .video-entry-thmb .video-entry-length,
html.dark-theme .results-panel .video-entry .video-entry-thmb .video-entry-length,
html.dark-theme .channel-videos-container .video-entry .video-entry-thmb .video-entry-length {
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 4px;
  margin: 8px 4px;
  background-color: rgba(0, 0, 0, 0.714);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: Roboto, Arial, sans-serif;
}

html.dark-theme .video-list-container .video-entry .video-entry-info,
html.dark-theme .results-panel .video-entry .video-entry-info,
html.dark-theme .channel-videos-container .video-entry .video-entry-info {
  padding: 10px 0;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.dark-theme .video-list-container .video-entry .video-entry-info .video-entry-title,
html.dark-theme .results-panel .video-entry .video-entry-info .video-entry-title,
html.dark-theme .channel-videos-container .video-entry .video-entry-info .video-entry-title {
  text-decoration: none;
  margin: 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ebebeb;
}

html.dark-theme .video-list-container .video-entry .video-entry-info .video-entry-channel,
html.dark-theme .results-panel .video-entry .video-entry-info .video-entry-channel,
html.dark-theme .channel-videos-container .video-entry .video-entry-info .video-entry-channel {
  text-decoration: none;
  margin: 8px 0 0 0;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #afafaf;
}

html.dark-theme .video-list-container .video-entry .video-entry-info .video-entry-stats,
html.dark-theme .results-panel .video-entry .video-entry-info .video-entry-stats,
html.dark-theme .channel-videos-container .video-entry .video-entry-info .video-entry-stats {
  color: #949494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.8rem;
  margin: 5px 0 0 0;
}

html.dark-theme .video-list-container .playlist-entry,
html.dark-theme .results-panel .playlist-entry,
html.dark-theme .channel-videos-container .playlist-entry {
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
}

html.dark-theme .video-list-container .playlist-entry .playlist-entry-thmb,
html.dark-theme .results-panel .playlist-entry .playlist-entry-thmb,
html.dark-theme .channel-videos-container .playlist-entry .playlist-entry-thmb {
  width: 100%;
  position: relative;
}

html.dark-theme .video-list-container .playlist-entry .playlist-entry-thmb .playlist-entry-thmb-image,
html.dark-theme .results-panel .playlist-entry .playlist-entry-thmb .playlist-entry-thmb-image,
html.dark-theme .channel-videos-container .playlist-entry .playlist-entry-thmb .playlist-entry-thmb-image {
  width: 100%;
}

html.dark-theme .video-list-container .playlist-entry .playlist-entry-thmb .playlist-entry-count,
html.dark-theme .results-panel .playlist-entry .playlist-entry-thmb .playlist-entry-count,
html.dark-theme .channel-videos-container .playlist-entry .playlist-entry-thmb .playlist-entry-count {
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 4px;
  margin: 8px 4px;
  background-color: rgba(0, 0, 0, 0.714);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-family: Roboto, Arial, sans-serif;
}

html.dark-theme .video-list-container .playlist-entry .playlist-entry-info,
html.dark-theme .results-panel .playlist-entry .playlist-entry-info,
html.dark-theme .channel-videos-container .playlist-entry .playlist-entry-info {
  padding: 10px 0;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.dark-theme .video-list-container .playlist-entry .playlist-entry-info .playlist-entry-title,
html.dark-theme .results-panel .playlist-entry .playlist-entry-info .playlist-entry-title,
html.dark-theme .channel-videos-container .playlist-entry .playlist-entry-info .playlist-entry-title {
  text-decoration: none;
  margin: 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ebebeb;
}

html.dark-theme .video-list-container .playlist-entry .playlist-entry-info .playlist-entry-channel,
html.dark-theme .results-panel .playlist-entry .playlist-entry-info .playlist-entry-channel,
html.dark-theme .channel-videos-container .playlist-entry .playlist-entry-info .playlist-entry-channel {
  text-decoration: none;
  margin: 8px 0 0 0;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #afafaf;
}

html.dark-theme .video-list-container .channel-entry,
html.dark-theme .results-panel .channel-entry,
html.dark-theme .channel-videos-container .channel-entry {
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
}

html.dark-theme .video-list-container .channel-entry .channel-entry-thmb,
html.dark-theme .results-panel .channel-entry .channel-entry-thmb,
html.dark-theme .channel-videos-container .channel-entry .channel-entry-thmb {
  height: calc((220px * 9) / 16);
  position: relative;
  margin: 0 auto;
}

html.dark-theme .video-list-container .channel-entry .channel-entry-thmb .channel-entry-thmb-image,
html.dark-theme .results-panel .channel-entry .channel-entry-thmb .channel-entry-thmb-image,
html.dark-theme .channel-videos-container .channel-entry .channel-entry-thmb .channel-entry-thmb-image {
  height: 100%;
}

html.dark-theme .video-list-container .channel-entry .channel-entry-info,
html.dark-theme .results-panel .channel-entry .channel-entry-info,
html.dark-theme .channel-videos-container .channel-entry .channel-entry-info {
  padding: 10px 0;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html.dark-theme .video-list-container .channel-entry .channel-entry-info .channel-entry-title,
html.dark-theme .results-panel .channel-entry .channel-entry-info .channel-entry-title,
html.dark-theme .channel-videos-container .channel-entry .channel-entry-info .channel-entry-title {
  text-decoration: none;
  margin: 0;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ebebeb;
}

html.dark-theme .video-list-container .channel-entry .channel-entry-info .channel-entry-stats,
html.dark-theme .results-panel .channel-entry .channel-entry-info .channel-entry-stats,
html.dark-theme .channel-videos-container .channel-entry .channel-entry-info .channel-entry-stats {
  color: #949494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
  margin: 5px 0 0 0;
}

html.dark-theme .video-list-container .channel-entry .channel-entry-info .channel-entry-stats p,
html.dark-theme .results-panel .channel-entry .channel-entry-info .channel-entry-stats p,
html.dark-theme .channel-videos-container .channel-entry .channel-entry-info .channel-entry-stats p {
  margin: 0 0 5px 0;
}

html.dark-theme .video-section-title {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  background-color: #121212;
  padding: 0 0 0 10px;
  font-family: Roboto, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8rem;
  margin: 0 auto;
  z-index: 20;
}

html.dark-theme .video-section-title .video-section-separator {
  background-color: #f57c00;
  height: 1px;
  width: 100%;
  margin: auto 20px auto 20px;
}

html.dark-theme .video-section-title h2 {
  margin: auto 0;
  color: #ebebeb;
}

html.dark-theme .view-panel {
  width: 100%;
  margin-top: 60px;
}

html.dark-theme .view-panel .player-viewport {
  width: 100%;
  height: calc((9 / 16) * 100vw);
  max-height: calc(100vh - 169px);
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

html.dark-theme .view-panel .player-viewport #video {
  height: 100%;
  width: 100%;
}

html.dark-theme .view-panel .player-viewport #audio {
  position: absolute;
  visibility: hidden;
}

html.dark-theme .view-panel .player-viewport .video-buffer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000008a;
  display: none;
  z-index: 400;
}

html.dark-theme .view-panel .player-viewport .video-buffer.buffering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html.dark-theme .view-panel .video-infobox {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  -webkit-transition: opacity 300ms cubic-bezier(0.31, 0.65, 0.26, 0.97);
  transition: opacity 300ms cubic-bezier(0.31, 0.65, 0.26, 0.97);
}

html.dark-theme .view-panel .video-infobox .video-infobox-title {
  color: #ebebeb;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.4rem;
  margin: 20px 0 10px 0;
}

html.dark-theme .view-panel .video-infobox .video-infobox-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 20px 0;
}

html.dark-theme .view-panel .video-infobox .video-infobox-stats .infobox-views {
  color: #afafaf;
  font-family: Roboto, Arial, sans-serif;
  margin: 0 30px 0 0;
  font-size: 1.1rem;
}

html.dark-theme .view-panel .video-infobox .video-infobox-stats .infobox-likes,
html.dark-theme .view-panel .video-infobox .video-infobox-stats .infobox-dislikes {
  color: #afafaf;
  font-family: Roboto, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 30px 0 0;
}

html.dark-theme .view-panel .video-infobox .video-infobox-stats .infobox-likes p,
html.dark-theme .view-panel .video-infobox .video-infobox-stats .infobox-dislikes p {
  text-align: center;
}

html.dark-theme .view-panel .video-infobox .video-infobox-stats .infobox-likes i,
html.dark-theme .view-panel .video-infobox .video-infobox-stats .infobox-dislikes i {
  font-size: 1.2rem;
  margin: 0 5px 0 0;
}

html.dark-theme .view-panel .video-infobox .video-infobox-channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

html.dark-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-image {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}

html.dark-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-image img {
  width: 100%;
  height: 100%;
}

html.dark-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html.dark-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-info .infobox-channel-name {
  text-decoration: none;
  color: #ebebeb;
  font-family: Roboto, Arial, sans-serif;
}

html.dark-theme .view-panel .video-infobox .video-infobox-channel .infobox-channel-info .infobox-channel-subcount {
  color: #afafaf;
  font-family: Roboto, Arial, sans-serif;
}

html.dark-theme .view-panel .video-infobox .video-infobox-description {
  margin: 20px 0 0 0;
  color: #ebebeb;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.2rem;
}

html.dark-theme .view-panel .video-infobox .video-infobox-description a {
  text-decoration: underline;
  color: #ebebeb;
}

html.dark-theme .view-panel .video-infobox .video-infobox-description .favicon-link {
  height: 13px;
  margin: 0 4px;
}

html.dark-theme .view-panel .video-infobox.loading {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */