<!DOCTYPE html>
<html lang="en" class="dark-theme">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="manifest" href="../manifest.json">
    <link rel="shortcut icon" href="../images/icon-192.png" type="image/x-icon">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../images/icon-192.png">
    <meta property="og:description" content="An alternative YouTube frontend using the invidio.us API.">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="ViewTube" />
    <meta name="theme-color" content="#121212">
    <script src="../bin/jquery-3.4.0.min.js"></script>
    <script src="../bin/js.cookie.js"></script>
    <script src="../bin/mustache.js"></script>
    <script src="../main.js"></script>
    <script src="channel.js"></script>
    <title>ViewTube</title>
</head>

<body>
    <vt-header></vt-header>
    <div class="channel-panel loading">
        <div class="channel-banner">
            <img id="channel-banner-image" src="#" alt="Channel banner image">
        </div>
        <div class="channel-title">
            <div class="channel-thmb">
                <img id="channel-thmb-image" src="#" alt="Channel profile image">
            </div>
            <div class="channel-info">
                <h1 class="channel-info-name">{{ author }}</h1>
                <div class="channel-info-numbers">
                    <span class="channel-info-subcount"></span>
                    <span class="channel-info-viewcount"></span>
                </div>
            </div>
        </div>
        <div class="channel-description">
        </div>
        <div class="video-section-title">
            <h2>Uploads</h2>
            <span class="video-section-separator"></span>
        </div>
        <div class="channel-videos-container">
        </div>
    </div>
    <vt-loader-overlay></vt-loader-overlay>
    <vt-tooltip></vt-tooltip>
</body>

</html>