<div class="channel-entry">
    <a class="channel-entry-thmb" href="#">
        <img class="channel-entry-thmb-image" src="" alt="Thumbnail">
    </a>
    <div class="channel-entry-info">
        <a class="channel-entry-title" href="#" title="{{ author }}">{{ author }}</a>
        <div class="channel-entry-stats">
            <p class="channel-entry-videocount">{{ videoCount }} videos</p>
            <p class="channel-entry-subcount"></p>
        </div>
    </div>
</div>