<div class="header">
    <a class="logo-link" href="index.html">
        <h1 class="logo"><span>View</span><span class="logo-colored">Tube</span></h1>
        <img class="logo-small" src="images/icon-192.png" alt="ViewTube">
    </a>
    <div class="search-box">
        <input type="search" name="search" id="search">
        <a href="#" class="search-btn">
            <i class="material-icons">search</i>
        </a>
    </div>
    <div class="nav">
        <a href="#" id="theme-change">
            <i class="material-icons">invert_colors</i>
        </a>
        <a href="#" id="settings-btn">
            <i class="material-icons">settings</i>
        </a>
    </div>
</div>
<script type="text/javascript">
    initHeader();
</script>