<div class="playlist-entry">
    <a class="playlist-entry-thmb" href="#">
        <img class="playlist-entry-thmb-image" src="" alt="Thumbnail">
        <span class="playlist-entry-count">{{ videoCount }} videos</span>
    </a>
    <div class="playlist-entry-info">
        <a class="playlist-entry-title" href="#" title="{{ title }}">{{ title }}</a>
        <a class="playlist-entry-channel" href="#" title="{{ author }}">{{ author }}</a>
    </div>
</div>