<div class="video-entry">
    <a class="video-entry-thmb" href="#">
        <img class="video-entry-thmb-image" src="" alt="Thumbnail">
        <span class="video-entry-length"></span>
    </a>
    <div class="video-entry-info">
        <a class="video-entry-title" href="#" title="{{ title }}">{{ title }}</a>
        <a class="video-entry-channel" href="#" title="{{ author }}">{{ author }}</a>
        <div class="video-entry-stats">
            <p class="video-entry-views">{{ viewCount }} views</p>
            <p class="video-entry-timestamp">{{ publishedText }}</p>
        </div>
    </div>
</div>