<!DOCTYPE html>
<html lang="en" class="dark-theme">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="manifest" href="../manifest.json">
    <link rel="shortcut icon" href="../images/icon-192.png" type="image/x-icon">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../images/icon-192.png">
    <meta property="og:description" content="An alternative YouTube frontend using the invidio.us API.">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="ViewTube" />
    <meta name="theme-color" content="#121212">
    <script src="../bin/jquery-3.4.0.min.js"></script>
    <script src="../bin/js.cookie.js"></script>
    <script src="../bin/mustache.js"></script>
    <script src="../main.js"></script>
    <script src="video-player.js"></script>
    <title>ViewTube</title>
</head>

<body>
    <vt-header></vt-header>
    <div class="view-panel">
        <div class="player-viewport">
            <div class="video-thumbnail">
            </div>
            <div class="play-click-area">
                <vt-play-btn></vt-play-btn>
            </div>
            <div class="video-player-overlay">
                <div class="bottom-overlay">
                    <div class="video-seekbar">
                        <span class="seekbar-line-progress"></span>
                        <span class="seekbar-line-loaded"></span>
                        <span class="seekbar-line"></span>
                    </div>
                    <div class="video-controls">
                        <div class="video-play-btn">
                            <vt-play-btn></vt-play-btn>
                        </div>
                        <div class="video-audio-btn"></div>
                        <div class="video-time-display"></div>
                        <div class="video-settings-btn"></div>

                    </div>
                </div>
            </div>
            <video id="video">
                <source class="video-mp4" src="#" type="video/mp4">
            </video>
            <video id="audio">
            </video>
            <div class="video-buffer">
                <vt-loader></vt-loader>
            </div>
        </div>
        <div class="video-infobox loading">
            <h1 class="video-infobox-title">{{ title }}</h1>
            <div class="video-infobox-stats">
                <p class="infobox-views"></p>
                <div class="infobox-likes">
                    <i class="material-icons">thumb_up</i>
                    <p class="like-count"></p>
                </div>
                <div class="infobox-dislikes">
                    <i class="material-icons">thumb_down</i>
                    <p class="dislike-count"></p>
                    </p>
                </div>
            </div>
            <div class="video-infobox-channel">
                <div class="infobox-channel-image">
                    <a href="#"><img id="channel-img" src="#" alt="channel image"></a>
                </div>
                <div class="infobox-channel-info">
                    <a href="#" class="infobox-channel-name">{{ author }}</a>
                    <p class="infobox-channel-subcount">{{ subCountText }} Subscribers</p>
                </div>
            </div>
            <div class="video-infobox-description">
            </div>
        </div>
    </div>
    <vt-tooltip></vt-tooltip>
</body>

</html>